{% extends "base.html" %}

{% block titulo %}
Cliente
{% endblock %}

{% block contenido %}

<h2>{{ titulo }}</h2>

{% if cliente %}

<form action="/clientes/actualizar/{{ cliente.id }}" method="POST">

{% else %}

<form action="/clientes/guardar" method="POST">

{% endif %}

    <div class="mb-3">

        <label>Nombre</label>

        <input
            type="text"
            name="nombre"
            class="form-control"
            value="{{ cliente.nombre if cliente else '' }}"
            required>

    </div>

    <div class="mb-3">

        <label>Empresa</label>

        <input
            type="text"
            name="empresa"
            class="form-control"
            value="{{ cliente.empresa if cliente else '' }}"
            required>

    </div>

    <div class="mb-3">

        <label>Dirección</label>

        <input
            type="text"
            name="direccion"
            class="form-control"
            value="{{ cliente.direccion if cliente else '' }}"
            required>

    </div>

    <div class="mb-3">

        <label>Teléfono</label>

        <input
            type="text"
            name="telefono"
            class="form-control"
            value="{{ cliente.telefono if cliente else '' }}"
            required>

    </div>

    <div class="mb-3">

        <label>Correo</label>

        <input
            type="email"
            name="email"
            class="form-control"
            value="{{ cliente.email if cliente else '' }}"
            required>

    </div>

    <button
        class="btn btn-success">

        Guardar

    </button>

    <a href="/clientes"
       class="btn btn-secondary">

        Cancelar

    </a>

</form>

{% endblock %}