{% extends "base.html" %}

{% block titulo %}
Clientes
{% endblock %}

{% block contenido %}

<h2>Clientes</h2>

<div class="mb-3">

    <a href="/clientes/nuevo"
       class="btn btn-primary">

        <i class="bi bi-plus-circle"></i>

        Nuevo Cliente

    </a>

</div>

<table class="table table-bordered">

    <thead>

        <tr>

            <th>ID</th>

            <th>Nombre</th>

            <th>Empresa</th>

            <th>Teléfono</th>

            <th>Email</th>

            <th>Acciones</th>
        </tr>

    </thead>

    <tbody>

    {% for cliente in clientes %}

        <tr>

            <td>{{ cliente.id }}</td>

            <td>{{ cliente.nombre }}</td>

            <td>{{ cliente.empresa }}</td>

            <td>{{ cliente.telefono }}</td>

            <td>{{ cliente.email }}</td>
<td>

    <a href="/clientes/editar/{{ cliente.id }}"
       class="btn btn-primary btn-sm">

        Actualizar

    </a>

    <a href="/clientes/eliminar/{{ cliente.id }}"
       class="btn btn-primary btn-sm"
       onclick="return confirm('¿Eliminar este cliente?')">

        Eliminar

    </a>

    <a href="/clientes/editar/{{ cliente.id }}"
   class="btn btn-warning btn-sm">

    Editar

</a>

</td>
        </tr>

    {% endfor %}

    </tbody>

</table>

{% endblock %}